<!--DATOS DEL CLIENTE-->
<div class="row">

    <div class="col-md-12">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Inbox</h3>
                <div class="box-tools pull-right">

                </div>
                <!-- /.box-tools -->
            </div>

            <div class="box-body">


                <!--DATOS DEL CLIENTE-->
                <div class="invoice" style="padding-top: 15px;  margin: 0px !important">
                    <h3 class="page-header">Datos del Cliente</h3>

                    <div class="">
                        <!--Nombre del cliente-->
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    <input type="text"
                                           id="txt-nombre"
                                           class="form-control validate[required]"
                                           placeholder="nombre"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Apellido Paterno</label>
                                    <input type="text"
                                           id="txt-app"
                                           class="form-control validate[required]"
                                           placeholder="Apellido Paterno"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Apellido Materno</label>
                                    <input type="text"
                                           id="txt-apm"
                                           class="form-control"
                                           placeholder="Apellido Materno">
                                </div>
                            </div>
                        </div>

                        <!--Fecha de nacimiento, RFC, sexo-->
                        <div class="row">

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha de nacimiento:</label>
                                    <input type="text"
                                           id="txt-fechaNacimiento"
                                           class="form-control date validate[required]"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>RFC:</label>
                                    <input type="text"
                                           id="txt-rfc"
                                           class="form-control validate[required]"
                                           placeholder="RFC"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Sexo:</label>
                                    <select id="lst-sexo"
                                            class="form-control">
                                        <option value="1">Masculino</option>
                                        <option value="2">Femenino</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <!--Estado civil, telefono-->
                        <div class="row">

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Estado Civil:</label>
                                    <select id="lst-edoCivil"
                                            class="form-control">
                                        <option value="1">Soltero</option>
                                        <option value="2">Casado</option>
                                        <option value="2">Divorciado</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-1 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Lada:</label>
                                    <input type="text"
                                           id="txt-ladaCel"
                                           class="form-control validate[required]"
                                           placeholder="000"
                                           data-errormessage-value-missing="campo requerido!" />
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Celular:</label>
                                    <input type="text"
                                           id="txt-celular"
                                           class="form-control validate[required]"
                                           placeholder="10 digitos"
                                           data-errormessage-value-missing="campo requerido!" />
                                </div>
                            </div>

                            <div class="col-md-1 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Lada:</label>
                                    <input type="text"
                                           id="txt-ladaTel"
                                           class="form-control validate[required]"
                                           placeholder="000"
                                           data-errormessage-value-missing="campo requerido!" />
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Teléfono:</label>
                                    <div class="input-group">

                                        <input type="text"
                                               id="txt-telefono"
                                               class="form-control validate[required]"
                                               placeholder="10 digitos"
                                               data-errormessage-value-missing="campo requerido!" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Correo Electronico -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        @*<span class="input-group-addon"><i class="fa fa-envelope"></i></span>*@
                                        <input type="email" class="form-control" placeholder="Email">
                                        <span class="input-group-addon"><strong>&#64;</strong></span>
                                        <select class="form-control">
                                            <option value="1">hotmail.com</option>
                                            <option value="2">gmail.com</option>
                                            <option value="2">sygno.com</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Direccion-->
                        <div>
                            <div class="row">
                                <div class="col-md-12"><h4>Dirección</h4></div>

                                <div class=" col-md-4">
                                    <div class="form-group">
                                        <label>Calle:</label>
                                        <input type="text"
                                               id="txt-calle"
                                               class="form-control validate[required]"
                                               placeholder="calle"
                                               data-errormessage-value-missing="campo requerido!">
                                    </div>
                                </div>

                                <div class=" col-md-1 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Manzana:</label>
                                        <input type="text"
                                               id="txt-manzana"
                                               class="form-control validate[required]"
                                               placeholder="manzana"
                                               data-errormessage-value-missing="campo requerido!">
                                    </div>
                                </div>

                                <div class=" col-md-1 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Lote:</label>
                                        <input type="text"
                                               id="txt-lote"
                                               class="form-control validate[required]"
                                               placeholder="lote"
                                               data-errormessage-value-missing="campo requerido!">
                                    </div>
                                </div>

                                <div class=" col-md-1 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Ext:</label>
                                        <input type="text"
                                               id="txt-Ext"
                                               class="form-control validate[required]"
                                               placeholder="Ext"
                                               data-errormessage-value-missing="campo requerido!">
                                    </div>
                                </div>

                                <div class=" col-md-1 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Edificio:</label>
                                        <input type="text"
                                               id="txt-Edificio"
                                               class="form-control validate[required]"
                                               placeholder="Edif"
                                               data-errormessage-value-missing="campo requerido!">
                                    </div>
                                </div>

                                <div class=" col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tiempo residencia:</label>
                                        <input type="text"
                                               id="txt-tiempoResidencia"
                                               class="form-control validate[required]"
                                               placeholder="en años"
                                               data-errormessage-value-missing="campo requerido!">
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Cruzamientos:</label>
                                        <input type="text"
                                               id="txt-cruzamientos"
                                               class="form-control validate[required]"
                                               placeholder="calle"
                                               data-errormessage-value-missing="campo requerido!">
                                    </div>
                                </div>

                                <div class=" col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Código Postal:</label>
                                        <input type="text"
                                               id="txt-CodigoPostal"
                                               class="form-control validate[required]"
                                               placeholder="00000"
                                               data-errormessage-value-missing="campo requerido!">
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Estado:</label>
                                        <select id="lst-Estado"
                                                class="form-control">
                                            <option value="1">Soltero</option>
                                            <option value="2">Casado</option>
                                            <option value="2">Divorciado</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Ciudad:</label>
                                        <select id="lst-Ciudad"
                                                class="form-control">
                                            <option value="1">Soltero</option>
                                            <option value="2">Casado</option>
                                            <option value="2">Divorciado</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!--Empleo del cliente-->
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Datos del empleo del cliente </h4>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Giro, nombre de la empresa:</label>
                                        <input type="text"
                                               id="txt-nombreEmpleo"
                                               class="form-control"
                                               placeholder="Nombre de la empresa">
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Calle:</label>
                                        <input type="text"
                                               id="txt-calleEmpleo"
                                               class="form-control"
                                               placeholder="Calle">
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Colonia:</label>
                                        <input type="text"
                                               id="txt-coloniaEmpleo"
                                               class="form-control"
                                               placeholder="Colonia">
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Cruzamiento:</label>
                                        <input type="text"
                                               id="txt-cruzamientoEmpleo"
                                               class="form-control"
                                               placeholder="Cruzamientos de la empresa">
                                    </div>
                                </div>

                                <div class=" col-md-1 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Manzana:</label>
                                        <input type="text"
                                               id="txt-manzana"
                                               class="form-control validate[required]"
                                               placeholder="manzana"
                                               data-errormessage-value-missing="campo requerido!">
                                    </div>
                                </div>

                                <div class=" col-md-1 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Lote:</label>
                                        <input type="text"
                                               id="txt-lote"
                                               class="form-control validate[required]"
                                               placeholder="lote"
                                               data-errormessage-value-missing="campo requerido!">
                                    </div>
                                </div>

                                <div class=" col-md-1 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Ext:</label>
                                        <input type="text"
                                               id="txt-Ext"
                                               class="form-control validate[required]"
                                               placeholder="Ext"
                                               data-errormessage-value-missing="campo requerido!">
                                    </div>
                                </div>

                                <div class="col-md-1 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Lada:</label>
                                        <input type="text"
                                               id="txt-ladaEmpleo"
                                               class="form-control"
                                               placeholder="lada">
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Teléfono:</label>
                                        <input type="text"
                                               id="txt-telefonoEmpleo"
                                               class="form-control"
                                               placeholder="Teléfonos">
                                    </div>
                                </div>



                                <div class=" col-md-1 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Ext:</label>
                                        <input type="text"
                                               id="txt-Ext"
                                               class="form-control validate[required]"
                                               placeholder="Ext"
                                               data-errormessage-value-missing="campo requerido!">
                                    </div>
                                </div>


                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Antigüedad:</label>
                                        <input type="text"
                                               id="txt-antiguedadEmpleo"
                                               class="form-control"
                                               placeholder="antiguedad">
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                <!--DATOS DEL CLIENTE-->
            </div>

            <div class="box-footer no-padding">

            </div>
        </div>

    </div>

</div><!--/DATOS DEL CLIENTE-->
