  <!--CONYUGUE-->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Conyugue</h3>
    </div>
    <div class="box-body">
        <!--NOMBRE DEL CONYUGUE-->
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text"
                           id="txt-nombreConyugue"
                           class="form-control validate[required]"
                           placeholder="nombre"
                           data-errormessage-value-missing="campo requerido!">
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Apellido Paterno</label>
                    <input type="text"
                           id="txt-appConyugue"
                           class="form-control validate[required]"
                           placeholder="Apellido Paterno"
                           data-errormessage-value-missing="campo requerido!">
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Apellido Materno</label>
                    <input type="text"
                           id="txt-apmConyugue"
                           class="form-control"
                           placeholder="Apellido Materno">
                </div>
            </div>
        </div>
        <!--TELEFONO DEL CONYUGUE-->
        <div class="row">
            <div class="col-md-1 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Lada:</label>
                    <input type="text"
                           id="txt-ladaCelConyugue"
                           class="form-control validate[required]"
                           placeholder="000"
                           data-errormessage-value-missing="campo requerido!" />
                </div>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Celular:</label>
                    <input type="text"
                           id="txt-celularConyugue"
                           class="form-control validate[required]"
                           placeholder="10 digitos"
                           data-errormessage-value-missing="campo requerido!" />
                </div>
            </div>
        </div>
        <!--EMPLEO DEL CONYUGUE-->
        <div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Datos del empleo del conyugue </h4>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Giro, nombre de la empresa:</label>
                        <input type="text"
                               id="txt-giroEmpleoConyugue"
                               class="form-control"
                               placeholder="Nombre de la empresa">
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Calle:</label>
                        <input type="text"
                               id="txt-calleEmpleoConyugue"
                               class="form-control"
                               placeholder="Calle">
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Colonia:</label>
                        <input type="text"
                               id="txt-coloniaEmpleoConyugue"
                               class="form-control"
                               placeholder="Colonia">
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Cruzamiento:</label>
                        <input type="text"
                               id="txt-cruzamientoEmpleoConyugue"
                               class="form-control"
                               placeholder="Cruzamientos de la empresa">
                    </div>
                </div>

                <div class=" col-md-1 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Manzana:</label>
                        <input type="text"
                               id="txt-manzanaConyugue"
                               class="form-control validate[required]"
                               placeholder="manzana"
                               data-errormessage-value-missing="campo requerido!">
                    </div>
                </div>

                <div class=" col-md-1 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Lote:</label>
                        <input type="text"
                               id="txt-loteConyugue"
                               class="form-control validate[required]"
                               placeholder="lote"
                               data-errormessage-value-missing="campo requerido!">
                    </div>
                </div>

                <div class=" col-md-1 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Ext:</label>
                        <input type="text"
                               id="txt-ExtConyugue"
                               class="form-control validate[required]"
                               placeholder="Ext"
                               data-errormessage-value-missing="campo requerido!">
                    </div>
                </div>

                <div class="col-md-1 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Lada:</label>
                        <input type="text"
                               id="txt-ladaEmpleoConyugue"
                               class="form-control"
                               placeholder="lada">
                    </div>
                </div>

                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Teléfono:</label>
                        <input type="text"
                               id="txt-telefonoEmpleoConyugue"
                               class="form-control"
                               placeholder="Teléfonos">
                    </div>
                </div>



                <div class=" col-md-1 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Ext:</label>
                        <input type="text"
                               id="txt-ExtConyugue"
                               class="form-control validate[required]"
                               placeholder="Ext"
                               data-errormessage-value-missing="campo requerido!">
                    </div>
                </div>


                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Antigüedad:</label>
                        <input type="text"
                               id="txt-antiguedadEmpleoConyugue"
                               class="form-control"
                               placeholder="antiguedad">
                    </div>
                </div>

            </div>

        </div>

    </div>
</div><!--/CONYUGUE-->
