@model DtoCyC.Solicitud.DtoSolicitud

@*<link href="~/Scripts/pickadate/themes/default.css" rel="stylesheet" />
<link href="~/Scripts/pickadate/themes/default.date.css" rel="stylesheet" />*@

<link href="~/Scripts/pickadate/themes/classic.css" rel="stylesheet" />
<link href="~/Scripts/pickadate/themes/classic.date.css" rel="stylesheet" />

<link href="~/Content/alertify/alertify.core.css" rel="stylesheet" />
<link href="~/Content/alertify/alertify.default.css" rel="stylesheet" />

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<section class="content-header">
    <h1>Captura Solicitud</h1>
    <ol class="breadcrumb">
        <li>
            <button class="btn btn-success">Guardar solicitud <i class="glyphicon glyphicon-floppy-disk"></i></button>
        </li>
        <li>
            <a href="#"
               id="btn-nuevoUsuario"
               class="btn btn-success active">Nuevo Solicitud</a>
        </li>
    </ol>
</section>

<section class="content">

    <!-- STATUS, FOLIO, SCORE -->
    <div class="row" style="margin-bottom:15px; ">
        <div class="col-md-12  form-inline">
            <div class="input-group  col-md-2 mb-2 mr-sm-2 mb-sm-0 pull-left">
                <div class="input-group-addon">Estatus</div>
                <input type="text"
                       class="form-control solicitud-status"
                       id="inlineFormInputGroup"
                       value="NUEVA"
                       placeholder="Username"
                       disabled>
            </div>

            <div class="input-group  col-md-2 mb-2 mr-sm-2 mb-sm-0 pull-right">
                <div class="input-group-addon">Score</div>
                <input type="text"
                       class="form-control solicitud-folio"
                       id="inlineFormInputGroup"
                       value="001"
                       placeholder="Username"
                       disabled>
            </div>

            <div class="input-group  col-md-2 mb-2 mr-sm-2 mb-sm-0 pull-right">
                <div class="input-group-addon">Folio</div>
                <input type="text"
                       class="form-control solicitud-folio"
                       id="inlineFormInputGroup"
                       value="1000"
                       placeholder="Username"
                       disabled>
            </div>

        </div>
    </div>
    <!--/ STATUS, FOLIO, SCORE -->

    @Html.Partial("Cliente")

    @Html.Partial("Conyugue");

    @Html.Partial("Aval");

    @Html.Partial("Referencias")

</section>

<script src="~/Scripts/pickadate/picker.js"></script>
<script src="~/Scripts/pickadate/picker.date.js"></script>
<script src="~/Scripts/pickadate/legacy.js"></script>
<script src="~/Scripts/alertify/alertify.js"></script>
<script src="~/Scripts/CyC/solicitud.js"></script>