
<!--REFERENCIA 1-->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Referencia 1</h3>
            </div>

            <div class="box-body">

                <div id="divRef1">
                    <!--NOMBRE REFERENCIA 1-->
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input type="text"
                                       id="txt-nombreRef1"
                                       class="form-control validate[required]"
                                       placeholder="nombre"
                                       data-errormessage-value-missing="campo requerido!">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Apellido Paterno</label>
                                <input type="text"
                                       id="txt-appRef1"
                                       class="form-control validate[required]"
                                       placeholder="Apellido Paterno"
                                       data-errormessage-value-missing="campo requerido!">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Apellido Materno</label>
                                <input type="text"
                                       id="txt-apmRef1"
                                       class="form-control"
                                       placeholder="Apellido Materno">
                            </div>
                        </div>
                    </div><!--/NOMBRE REFERENCIA 1-->
                    <!--Direccion REFERENCIA 1-->
                    <div>
                        <div class="row">
                            <div class="col-md-12"><h4>Dirección</h4></div>

                            <div class=" col-md-4">
                                <div class="form-group">
                                    <label>Calle:</label>
                                    <input type="text"
                                           id="txt-calleRef1"
                                           class="form-control validate[required]"
                                           placeholder="calle"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-1 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Manzana:</label>
                                    <input type="text"
                                           id="txt-manzanaRef1"
                                           class="form-control validate[required]"
                                           placeholder="manzana"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-1 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Lote:</label>
                                    <input type="text"
                                           id="txt-loteRef1"
                                           class="form-control validate[required]"
                                           placeholder="lote"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-1 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Ext:</label>
                                    <input type="text"
                                           id="txt-ExtRef1"
                                           class="form-control validate[required]"
                                           placeholder="Ext"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-1 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Edificio:</label>
                                    <input type="text"
                                           id="txt-EdificioRef1"
                                           class="form-control validate[required]"
                                           placeholder="Edif"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Tiempo residencia:</label>
                                    <input type="text"
                                           id="txt-tiempoResidenciaRef1"
                                           class="form-control validate[required]"
                                           placeholder="en años"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Cruzamientos:</label>
                                    <input type="text"
                                           id="txt-cruzamientosRef1"
                                           class="form-control validate[required]"
                                           placeholder="calle"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Código Postal:</label>
                                    <input type="text"
                                           id="txt-CodigoPostalRef1"
                                           class="form-control validate[required]"
                                           placeholder="00000"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Estado:</label>
                                    <select class="form-control">
                                        <option value="1">Soltero</option>
                                        <option value="2">Casado</option>
                                        <option value="2">Divorciado</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Ciudad:</label>
                                    <select class="form-control">
                                        <option value="1">Soltero</option>
                                        <option value="2">Casado</option>
                                        <option value="2">Divorciado</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--TELEFONO DE LA REFERENCIA 1-->
                    <div class="row">
                        <div class="col-md-1 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Lada:</label>
                                <input type="text"
                                       id="txt-ladaCelRef1"
                                       class="form-control validate[required]"
                                       placeholder="000"
                                       data-errormessage-value-missing="campo requerido!" />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Celular:</label>
                                <input type="text"
                                       id="txt-celularRef1"
                                       class="form-control validate[required]"
                                       placeholder="10 digitos"
                                       data-errormessage-value-missing="campo requerido!" />
                            </div>
                        </div>
                    </div><!--/TELEFONO DE LA REFERENCIA 1-->

                </div>

            </div>

            <div class="box-footer"></div>

        </div>
    </div>
</div><!--/REFERENCIA 1-->
<!--REFERENCIA 2-->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Referencia 2</h3>
            </div>

            <div class="box-body">

                <div id="divRef2">
                    <!--NOMBRE REFERENCIA 1-->
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input type="text"
                                       id="txt-nombreRef2"
                                       class="form-control validate[required]"
                                       placeholder="nombre"
                                       data-errormessage-value-missing="campo requerido!">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Apellido Paterno</label>
                                <input type="text"
                                       id="txt-appRef2"
                                       class="form-control validate[required]"
                                       placeholder="Apellido Paterno"
                                       data-errormessage-value-missing="campo requerido!">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Apellido Materno</label>
                                <input type="text"
                                       id="txt-apmRef2"
                                       class="form-control"
                                       placeholder="Apellido Materno">
                            </div>
                        </div>
                    </div><!--/NOMBRE REFERENCIA 1-->
                    <!--Direccion REFERENCIA 2-->
                    <div>
                        <div class="row">
                            <div class="col-md-12"><h4>Dirección</h4></div>

                            <div class=" col-md-4">
                                <div class="form-group">
                                    <label>Calle:</label>
                                    <input type="text"
                                           id="txt-calleRef2"
                                           class="form-control validate[required]"
                                           placeholder="calle"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-1 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Manzana:</label>
                                    <input type="text"
                                           id="txt-manzanaRef2"
                                           class="form-control validate[required]"
                                           placeholder="manzana"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-1 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Lote:</label>
                                    <input type="text"
                                           id="txt-loteRef2"
                                           class="form-control validate[required]"
                                           placeholder="lote"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-1 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Ext:</label>
                                    <input type="text"
                                           id="txt-ExtRef2"
                                           class="form-control validate[required]"
                                           placeholder="Ext"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-1 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Edificio:</label>
                                    <input type="text"
                                           id="txt-EdificioRef2"
                                           class="form-control validate[required]"
                                           placeholder="Edif"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Tiempo residencia:</label>
                                    <input type="text"
                                           id="txt-tiempoResidenciaRef2"
                                           class="form-control validate[required]"
                                           placeholder="en años"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Cruzamientos:</label>
                                    <input type="text"
                                           id="txt-cruzamientosRef2"
                                           class="form-control validate[required]"
                                           placeholder="calle"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Código Postal:</label>
                                    <input type="text"
                                           id="txt-CodigoPostalRef2"
                                           class="form-control validate[required]"
                                           placeholder="00000"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Estado:</label>
                                    <select class="form-control">
                                        <option value="1">Soltero</option>
                                        <option value="2">Casado</option>
                                        <option value="2">Divorciado</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Ciudad:</label>
                                    <select class="form-control">
                                        <option value="1">Soltero</option>
                                        <option value="2">Casado</option>
                                        <option value="2">Divorciado</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--TELEFONO DE LA REFERENCIA 1-->
                    <div class="row">
                        <div class="col-md-1 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Lada:</label>
                                <input type="text"
                                       id="txt-ladaCelRef2"
                                       class="form-control validate[required]"
                                       placeholder="000"
                                       data-errormessage-value-missing="campo requerido!" />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Celular:</label>
                                <input type="text"
                                       id="txt-celularRef2"
                                       class="form-control validate[required]"
                                       placeholder="10 digitos"
                                       data-errormessage-value-missing="campo requerido!" />
                            </div>
                        </div>
                    </div><!--/TELEFONO DE LA REFERENCIA 1-->

                </div>

            </div>

            <div class="box-footer"></div>

        </div>
    </div>
</div><!--/REFERENCIA 2-->
<!--REFERENCIA 3-->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Referencia 3</h3>
            </div>

            <div class="box-body">

                <div id="divRef3">
                    <!--NOMBRE REFERENCIA 1-->
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input type="text"
                                       id="txt-nombreRef3"
                                       class="form-control validate[required]"
                                       placeholder="nombre"
                                       data-errormessage-value-missing="campo requerido!">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Apellido Paterno</label>
                                <input type="text"
                                       id="txt-appRef3"
                                       class="form-control validate[required]"
                                       placeholder="Apellido Paterno"
                                       data-errormessage-value-missing="campo requerido!">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Apellido Materno</label>
                                <input type="text"
                                       id="txt-apmRef3"
                                       class="form-control"
                                       placeholder="Apellido Materno">
                            </div>
                        </div>
                    </div><!--/NOMBRE REFERENCIA 1-->
                    <!--Direccion REFERENCIA 2-->
                    <div>
                        <div class="row">
                            <div class="col-md-12"><h4>Dirección</h4></div>

                            <div class=" col-md-4">
                                <div class="form-group">
                                    <label>Calle:</label>
                                    <input type="text"
                                           id="txt-calleRef3"
                                           class="form-control validate[required]"
                                           placeholder="calle"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-1 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Manzana:</label>
                                    <input type="text"
                                           id="txt-manzanaRef3"
                                           class="form-control validate[required]"
                                           placeholder="manzana"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-1 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Lote:</label>
                                    <input type="text"
                                           id="txt-loteRef3"
                                           class="form-control validate[required]"
                                           placeholder="lote"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-1 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Ext:</label>
                                    <input type="text"
                                           id="txt-ExtRef3"
                                           class="form-control validate[required]"
                                           placeholder="Ext"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-1 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Edificio:</label>
                                    <input type="text"
                                           id="txt-EdificioRef3"
                                           class="form-control validate[required]"
                                           placeholder="Edif"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Tiempo residencia:</label>
                                    <input type="text"
                                           id="txt-tiempoResidenciaRef3"
                                           class="form-control validate[required]"
                                           placeholder="en años"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Cruzamientos:</label>
                                    <input type="text"
                                           id="txt-cruzamientosRef3"
                                           class="form-control validate[required]"
                                           placeholder="calle"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class=" col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Código Postal:</label>
                                    <input type="text"
                                           id="txt-CodigoPostalRef3"
                                           class="form-control validate[required]"
                                           placeholder="00000"
                                           data-errormessage-value-missing="campo requerido!">
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Estado:</label>
                                    <select class="form-control">
                                        <option value="1">Soltero</option>
                                        <option value="2">Casado</option>
                                        <option value="2">Divorciado</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Ciudad:</label>
                                    <select class="form-control">
                                        <option value="1">Soltero</option>
                                        <option value="2">Casado</option>
                                        <option value="2">Divorciado</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--TELEFONO DE LA REFERENCIA 1-->
                    <div class="row">
                        <div class="col-md-1 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Lada:</label>
                                <input type="text"
                                       id="txt-ladaCelRef3"
                                       class="form-control validate[required]"
                                       placeholder="000"
                                       data-errormessage-value-missing="campo requerido!" />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Celular:</label>
                                <input type="text"
                                       id="txt-celularRef3"
                                       class="form-control validate[required]"
                                       placeholder="10 digitos"
                                       data-errormessage-value-missing="campo requerido!" />
                            </div>
                        </div>
                    </div><!--/TELEFONO DE LA REFERENCIA 1-->

                </div>

            </div>

            <div class="box-footer"></div>

        </div>
    </div>
</div><!--/REFERENCIA 3-->